.App {
  text-align: center;
  display: flex;
 align-items: center;
 justify-content: center;
 overflow: hidden;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Tabs {
  width: 80%;
  height: auto;
  }

  ul.Nav {
      width: 60%;
      display: flex;
      align-items: center;
      justify-content: space-between;
  }


  ul.Nav li {
      width: 50%;
      padding: 1rem;
      list-style: none;
      text-align: center;
    }


    